html {
    font-size: 62.5%;
}
body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mapText a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.leaflet-container a:hover {
    color: #0078A8;
    text-decoration: underline;
}
.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
#map,
.fullBackground {
    height: 100vh;
}
.storyBg {
    background-color: rgba(0,0,0,0.4);
    border-radius: 2px;
    height: 100vh;
}
.bgHeadline {
    color: rgb(255,255,255);
    text-shadow: rgba(0,0,0,0.2) 0px 0px 2px, rgba(0,0,0,0.2) 0px 0px 6px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 20px;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}
.bgIntro {
    text-shadow: rgba(0,0,0,0.2) 0px 0px 2px, rgba(0,0,0,0.2) 0px 0px 6px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.2) 0px 0px 20px;
    font-family: 'Source Serif Pro', Georgia, serif;
    color: rgb(255,255,255);
    font-size: 2rem;
}
.bgCredit {
    font-family: 'Source Serif Pro', Georgia, serif;
    font-size: 1.5rem;
    text-align: center;
}
.scrollDown {
    display: block;
    z-index: 100;
    left: 50%;
    margin-left: -16px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    animation: 4s ease 2s normal none infinite running bounce;
}
.scrollDown a {
    transition: 0.2s;
    display: block;
}
.scrollDown a:hover {
    transform: scale(1.05);
}
.scrollDown--text {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 0;
    letter-spacing: 0.3rem;
    color: rgb(255, 255, 255);
}
.scrollDown--arrow {
    color: rgba(255, 255, 255, 0.7);
}
.mapIntro {
    max-width: 400px;
    border-radius: 2px;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;
    z-index: 1;
    right: 30px;
    background-color: rgba(51,51,51,0.5)
}
.mapText {
    font-family: 'Source Serif Pro', Georgia, serif;
    color: rgb(240, 240, 240);
    font-size: 1.6rem;
}
.leaflet-container {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
.img-fluid {
    border-radius: 2px;
    max-width: 100%;
    height: auto;
}
.leaflet-popup {
    width: 600px;
}
.leaflet-popup-content {
    color: rgb(51, 51, 51);
    font-family: 'Source Serif Pro', Georgia, serif;
    width: 580px !important;
}
.leaflet-popup-content h3 {
    margin: 0 auto;
}
.leaflet-popup-content p {
    padding-top: 0.5rem;
    margin: 0 auto
}
.leaflet-popup-content iframe {
    display: block;
    text-align: center;
    margin: 0 auto
}
.leaflet-control-attribution a:hover {
    color: rgb(0, 120, 168);
    text-decoration: none;
}
div.awesome-marker-icon-red > i > span {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .scrollDown {
        margin-top: 4rem;
    }
}
