body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(255,255,255);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: rgb(255, 255, 255);
}
a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.introSection {
    height: 100vh;
    background: url(../img/canal-web-grey.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#map {
    height: 100vh;
}
.mapHeadline {
    color: rgb(255,255,255);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    letter-spacing: -2px;
    line-height: 60px;
    font-size: 70px;
    font-weight: 600;
    padding-top: 40px;
}
.mapIntro {
    font-size: 20px;
    font-weight: 300;
    padding-top: 40px;
}
.mapCredit {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    padding-top: 40px;
}
.scrollDown {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    animation: 4s ease 2s normal none infinite running bounce;
}
.leaflet-popup-content {
    color: #333;
}
.leaflet-control-attribution a:hover {
    color: #0078A8;
    text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
