body {
  -moz-osx-font-smoothing: grayscale;
}
#map {
  height: 670px;
  width: 1500px;
}
.mapHeadline {
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
