body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
#map {
  height: 4500px;
  width: 5000px;
}
.mapHeadline {
  position: absolute;
  z-index: 1;
  color: rgb(255,255,255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-left: 35px;
  font-family: 'Playfair Display', Georgia, Times, serif;
  letter-spacing: -2px;
  line-height: 140px;
  font-size: 160px;
}
.imgIntro {
  position: absolute;
  z-index: 1;
  width: 250px;
  margin-left: 700px;
  margin-top: 240px;
}
.mapIntro {
  position: absolute;
  z-index: 1;
  width: 450px;
  margin-left: 700px;
  margin-top: 420px;
  font-size: 18px;
  font-weight: 300;
}
.mapCredit {
  position: absolute;
  z-index: 1;
  margin-left: 700px;
  margin-top: 480px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
